In [16]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
import random

In [17]:
Entrenamiento = pd.read_csv('Entrenamieto_ECI_2020.csv')
Entrenamiento.head()

,ID,Region,Territory,"Pricing, Delivery_Terms_Quote_Appr","Pricing, Delivery_Terms_Approved",Bureaucratic_Code_0_Approval,Bureaucratic_Code_0_Approved,Submitted_for_Approval,Bureaucratic_Code,Account_Created_Date,...,Delivery_Quarter,Delivery_Year,Actual_Delivery_Date,TRF,Total_Amount_Currency,Total_Amount,Total_Taxable_Amount_Currency,Total_Taxable_Amount,Stage,Prod_Category_A
0,27761,EMEA,None,1,1,1,1,0,Bureaucratic_Code_4,6/16/2015,...,Q2,2016,NaT,10,EUR,5272800.0,EUR,5272800.0,Closed Lost,Prod_Category_A_None
1,27760,EMEA,None,0,0,0,0,0,Bureaucratic_Code_4,6/16/2015,...,Q1,2016,NaT,0,EUR,48230.0,EUR,48230.0,Closed Won,Prod_Category_A_None
2,27446,Americas,NW America,0,0,0,0,0,Bureaucratic_Code_4,4/21/2015,...,Q1,2016,NaT,0,USD,83865.6,USD,83865.6,Closed Won,Prod_Category_A_None
3,16808,Americas,NW America,1,0,1,0,0,Bureaucratic_Code_5,7/27/2013,...,Q1,2018,NaT,14,USD,7421881.5,USD,7421881.5,Closed Lost,Prod_Category_A_None
4,16805,Americas,NW America,1,0,1,0,0,Bureaucratic_Code_5,7/27/2013,...,Q1,2018,NaT,25,USD,13357192.5,USD,13357192.5,Closed Lost,Prod_Category_A_None

In [18]:
Entrenamiento['Total_Amount_Currency'].value_counts()

USD    7361
JPY    4522
EUR    4503
AUD     556
GBP       5
Name: Total_Amount_Currency, dtype: int64

In [19]:
Entrenamiento.loc[Entrenamiento['Total_Amount_Currency'] == 'JPY', 'Total_Amount'] = Entrenamiento['Total_Amount']*0.0096
Entrenamiento.loc[Entrenamiento['Total_Amount_Currency'] == 'JPY', 'Total_Amount_Currency'] = 'USD'

Entrenamiento.loc[Entrenamiento['Total_Amount_Currency'] == 'EUR', 'Total_Amount'] = Entrenamiento['Total_Amount']*1.17
Entrenamiento.loc[Entrenamiento['Total_Amount_Currency'] == 'EUR', 'Total_Amount_Currency'] = 'USD'

Entrenamiento.loc[Entrenamiento['Total_Amount_Currency'] == 'AUD', 'Total_Amount'] = Entrenamiento['Total_Amount']*0.70
Entrenamiento.loc[Entrenamiento['Total_Amount_Currency'] == 'AUD', 'Total_Amount_Currency'] = 'USD'

Entrenamiento.loc[Entrenamiento['Total_Amount_Currency'] == 'GBP', 'Total_Amount'] = Entrenamiento['Total_Amount']*1.29
Entrenamiento.loc[Entrenamiento['Total_Amount_Currency'] == 'GBP', 'Total_Amount_Currency'] = 'USD'

transformo los el Total_Amount a una unica moneda (USD)

In [20]:
Entrenamiento['Total_Amount_Currency'].value_counts()

USD    16947
Name: Total_Amount_Currency, dtype: int64

In [21]:
Entrenamiento['Total_Taxable_Amount_Currency'].value_counts()

USD    7347
JPY    4525
EUR    4518
AUD     553
GBP       4
Name: Total_Taxable_Amount_Currency, dtype: int64

In [22]:
Entrenamiento.loc[Entrenamiento['Total_Taxable_Amount_Currency'] == 'JPY', 'Total_Taxable_Amount'] = Entrenamiento['Total_Taxable_Amount']*0.0096
Entrenamiento.loc[Entrenamiento['Total_Taxable_Amount_Currency'] == 'JPY', 'Total_Taxable_Amount_Currency'] = 'USD'

Entrenamiento.loc[Entrenamiento['Total_Taxable_Amount_Currency'] == 'EUR', 'Total_Taxable_Amount'] = Entrenamiento['Total_Taxable_Amount']*1.17
Entrenamiento.loc[Entrenamiento['Total_Taxable_Amount_Currency'] == 'EUR', 'Total_Taxable_Amount_Currency'] = 'USD'

Entrenamiento.loc[Entrenamiento['Total_Taxable_Amount_Currency'] == 'AUD', 'Total_Taxable_Amount'] = Entrenamiento['Total_Taxable_Amount']*0.70
Entrenamiento.loc[Entrenamiento['Total_Taxable_Amount_Currency'] == 'AUD', 'Total_Taxable_Amount_Currency'] = 'USD'

Entrenamiento.loc[Entrenamiento['Total_Taxable_Amount_Currency'] == 'GBP', 'Total_Taxable_Amount'] = Entrenamiento['Total_Taxable_Amount']*1.29
Entrenamiento.loc[Entrenamiento['Total_Taxable_Amount_Currency'] == 'GBP', 'Total_Taxable_Amount_Currency'] = 'USD'

Ahora hago lo mismo con los taxable amounts

In [23]:
Entrenamiento['Total_Taxable_Amount_Currency'].value_counts()

USD    16947
Name: Total_Taxable_Amount_Currency, dtype: int64

In [33]:
Entrenamiento['Source '].value_counts()

None         9497
Source_7     2965
Source_9     1459
Source_11    1421
Source_13     786
Source_3      418
Source_1      137
Source_10     106
Source_2       86
Source_4       43
Source_6       19
Source_0        7
Source_12       2
Source_5        1
Name: Source , dtype: int64

In [34]:
Owners = Entrenamiento[['Opportunity_Owner','Account_Owner','Stage']]
Owners = Owners[(Owners['Stage'] == 'Closed Lost') | (Owners['Stage'] == 'Closed Won')]
Owners['Count Stage'] = Owners['Stage']
Tracking = Owners.groupby(['Opportunity_Owner','Account_Owner', 'Stage']).agg({'Count Stage': 'count'})
Tracking
#Fijarme que onda Account_Name

                                              Count Stage
Opportunity_Owner Account_Owner  Stage
Person_Name_0     Person_Name_59 Closed Lost            1
Person_Name_10    Person_Name_10 Closed Lost            1
                  Person_Name_4  Closed Lost            1
Person_Name_11    Person_Name_11 Closed Lost           10
                  Person_Name_13 Closed Lost            1
...                                                   ...
Person_Name_8     Person_Name_58 Closed Lost            2
                  Person_Name_64 Closed Lost           33
                                 Closed Won            56
                  Person_Name_8  Closed Lost          500
                                 Closed Won           760

[288 rows x 1 columns]