In [21]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
import random

In [22]:
Entrenamiento = pd.read_csv('Entrenamieto_ECI_2020.csv')
Entrenamiento.head()

,ID,Region,Territory,"Pricing, Delivery_Terms_Quote_Appr","Pricing, Delivery_Terms_Approved",Bureaucratic_Code_0_Approval,Bureaucratic_Code_0_Approved,Submitted_for_Approval,Bureaucratic_Code,Account_Created_Date,...,Delivery_Quarter,Delivery_Year,Actual_Delivery_Date,TRF,Total_Amount_Currency,Total_Amount,Total_Taxable_Amount_Currency,Total_Taxable_Amount,Stage,Prod_Category_A
0,27761,EMEA,None,1,1,1,1,0,Bureaucratic_Code_4,6/16/2015,...,Q2,2016,NaT,10,EUR,5272800.0,EUR,5272800.0,Closed Lost,Prod_Category_A_None
1,27760,EMEA,None,0,0,0,0,0,Bureaucratic_Code_4,6/16/2015,...,Q1,2016,NaT,0,EUR,48230.0,EUR,48230.0,Closed Won,Prod_Category_A_None
2,27446,Americas,NW America,0,0,0,0,0,Bureaucratic_Code_4,4/21/2015,...,Q1,2016,NaT,0,USD,83865.6,USD,83865.6,Closed Won,Prod_Category_A_None
3,16808,Americas,NW America,1,0,1,0,0,Bureaucratic_Code_5,7/27/2013,...,Q1,2018,NaT,14,USD,7421881.5,USD,7421881.5,Closed Lost,Prod_Category_A_None
4,16805,Americas,NW America,1,0,1,0,0,Bureaucratic_Code_5,7/27/2013,...,Q1,2018,NaT,25,USD,13357192.5,USD,13357192.5,Closed Lost,Prod_Category_A_None

In [23]:
Entrenamiento['Total_Amount_Currency'].value_counts()

USD    7361
JPY    4522
EUR    4503
AUD     556
GBP       5
Name: Total_Amount_Currency, dtype: int64

In [24]:
Entrenamiento.loc[Entrenamiento['Total_Amount_Currency'] == 'JPY', 'Total_Amount'] = Entrenamiento['Total_Amount']*0.0096
Entrenamiento.loc[Entrenamiento['Total_Amount_Currency'] == 'JPY', 'Total_Amount_Currency'] = 'USD'

Entrenamiento.loc[Entrenamiento['Total_Amount_Currency'] == 'EUR', 'Total_Amount'] = Entrenamiento['Total_Amount']*1.17
Entrenamiento.loc[Entrenamiento['Total_Amount_Currency'] == 'EUR', 'Total_Amount_Currency'] = 'USD'

Entrenamiento.loc[Entrenamiento['Total_Amount_Currency'] == 'AUD', 'Total_Amount'] = Entrenamiento['Total_Amount']*0.70
Entrenamiento.loc[Entrenamiento['Total_Amount_Currency'] == 'AUD', 'Total_Amount_Currency'] = 'USD'

Entrenamiento.loc[Entrenamiento['Total_Amount_Currency'] == 'GBP', 'Total_Amount'] = Entrenamiento['Total_Amount']*1.29
Entrenamiento.loc[Entrenamiento['Total_Amount_Currency'] == 'GBP', 'Total_Amount_Currency'] = 'USD'

transformo los el Total_Amount a una unica moneda (USD)

In [25]:
Entrenamiento['Total_Amount_Currency'].value_counts()

USD    16947
Name: Total_Amount_Currency, dtype: int64

In [26]:
Entrenamiento['Total_Taxable_Amount_Currency'].value_counts()

USD    7347
JPY    4525
EUR    4518
AUD     553
GBP       4
Name: Total_Taxable_Amount_Currency, dtype: int64

In [27]:
Entrenamiento.loc[Entrenamiento['Total_Taxable_Amount_Currency'] == 'JPY', 'Total_Taxable_Amount'] = Entrenamiento['Total_Taxable_Amount']*0.0096
Entrenamiento.loc[Entrenamiento['Total_Taxable_Amount_Currency'] == 'JPY', 'Total_Taxable_Amount_Currency'] = 'USD'

Entrenamiento.loc[Entrenamiento['Total_Taxable_Amount_Currency'] == 'EUR', 'Total_Taxable_Amount'] = Entrenamiento['Total_Taxable_Amount']*1.17
Entrenamiento.loc[Entrenamiento['Total_Taxable_Amount_Currency'] == 'EUR', 'Total_Taxable_Amount_Currency'] = 'USD'

Entrenamiento.loc[Entrenamiento['Total_Taxable_Amount_Currency'] == 'AUD', 'Total_Taxable_Amount'] = Entrenamiento['Total_Taxable_Amount']*0.70
Entrenamiento.loc[Entrenamiento['Total_Taxable_Amount_Currency'] == 'AUD', 'Total_Taxable_Amount_Currency'] = 'USD'

Entrenamiento.loc[Entrenamiento['Total_Taxable_Amount_Currency'] == 'GBP', 'Total_Taxable_Amount'] = Entrenamiento['Total_Taxable_Amount']*1.29
Entrenamiento.loc[Entrenamiento['Total_Taxable_Amount_Currency'] == 'GBP', 'Total_Taxable_Amount_Currency'] = 'USD'

Ahora hago lo mismo con los taxable amounts

In [28]:
Entrenamiento['Total_Taxable_Amount_Currency'].value_counts()

USD    16947
Name: Total_Taxable_Amount_Currency, dtype: int64

In [29]:
Entrenamiento['Source '].value_counts()

None         9497
Source_7     2965
Source_9     1459
Source_11    1421
Source_13     786
Source_3      418
Source_1      137
Source_10     106
Source_2       86
Source_4       43
Source_6       19
Source_0        7
Source_12       2
Source_5        1
Name: Source , dtype: int64

In [48]:
Owners = Entrenamiento[['Opportunity_Owner','Account_Name','Stage']]
Owners = Owners[(Owners['Stage'] == 'Closed Lost') | (Owners['Stage'] == 'Closed Won')]
Owners['Count Stage'] = Owners['Stage']
Tracking = Owners.groupby(['Opportunity_Owner']).agg({'Count Stage': 'count'})
#Tracking = Tracking[Tracking['Count Stage']>= 100]
Tracking.sort_values('Count Stage', ascending = False)
#Fijarme que onda Account_Name

                   Count Stage
Opportunity_Owner
Person_Name_50            3773
Person_Name_8             1422
Person_Name_13            1253
Person_Name_18             982
Person_Name_43             832
Person_Name_3              832
Person_Name_32             685
Person_Name_4              685
Person_Name_19             615
Person_Name_64             508
Person_Name_16             446
Person_Name_23             422
Person_Name_46             329
Person_Name_65             322
Person_Name_49             285
Person_Name_48             256
Person_Name_38             250
Person_Name_44             240
Person_Name_66             239
Person_Name_39             211
Person_Name_60             206
Person_Name_62             174
Person_Name_52             173
Person_Name_54             171
Person_Name_5              155
Person_Name_59             134
Person_Name_45             128
Person_Name_2              118
Person_Name_41             113
Person_Name_51             111
Person_Name_33              87
Person_Name_55              83
Person_Name_14              82
Person_Name_11              77
Person_Name_30              69
Person_Name_63              64
Person_Name_40              50
Person_Name_25              49
Person_Name_20              49
Person_Name_22              43
Person_Name_26              33
Person_Name_12              23
Person_Name_37              21
Person_Name_42              19
Person_Name_34              14
Person_Name_29              13
Person_Name_61              11
Person_Name_36               8
Person_Name_58               7
Person_Name_56               6
Person_Name_10               2
Person_Name_35               2
Person_Name_0                1

In [35]:
fechas = Entrenamiento[['Opportunity_Created_Date','Account_Created_Date','Account_Name','Account_Type']]
#fechas = fechas[(Owners['Stage'] == 'Closed Lost') | (Owners['Stage'] == 'Closed Won')]
#Owners['Count Stage'] = Owners['Stage']
#Tracking2 = fechas.groupby(['Opportunity_Created_Date','Account_Created_Date', 'Source']).agg({'Count Stage': 'count'})
#Tracking = Tracking[Tracking['Count Stage']>= 100]
#Tracking2.sort_values('Count Stage', ascending = False).head(40)
#Fijarme que onda Account_Name
fechas

,Opportunity_Created_Date,Account_Created_Date,Account_Name,Account_Type
0,12/7/2015,6/16/2015,Account_Name_619,Account_Type_2
1,12/7/2015,6/16/2015,Account_Name_619,Account_Type_2
2,12/8/2015,4/21/2015,Account_Name_1794,Account_Type_5
3,12/8/2015,7/27/2013,Account_Name_1201,Account_Type_5
4,12/8/2015,7/27/2013,Account_Name_1201,Account_Type_5
...,...,...,...,...
16942,12/4/2015,1/15/2016,Account_Name_726,Account_Type_5
16943,12/4/2015,1/15/2016,Account_Name_726,Account_Type_5
16944,12/4/2015,1/15/2016,Account_Name_726,Account_Type_5
16945,12/5/2015,10/20/2015,Account_Name_944,Account_Type_5
16946,12/5/2015,9/3/2015,Account_Name_1401,Account_Type_5