In [48]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
import random

In [49]:
Entrenamiento = pd.read_csv('Entrenamieto_ECI_2020.csv')
Entrenamiento.head()

,ID,Region,Territory,"Pricing, Delivery_Terms_Quote_Appr","Pricing, Delivery_Terms_Approved",Bureaucratic_Code_0_Approval,Bureaucratic_Code_0_Approved,Submitted_for_Approval,Bureaucratic_Code,Account_Created_Date,...,Delivery_Quarter,Delivery_Year,Actual_Delivery_Date,TRF,Total_Amount_Currency,Total_Amount,Total_Taxable_Amount_Currency,Total_Taxable_Amount,Stage,Prod_Category_A
0,27761,EMEA,None,1,1,1,1,0,Bureaucratic_Code_4,6/16/2015,...,Q2,2016,NaT,10,EUR,5272800.0,EUR,5272800.0,Closed Lost,Prod_Category_A_None
1,27760,EMEA,None,0,0,0,0,0,Bureaucratic_Code_4,6/16/2015,...,Q1,2016,NaT,0,EUR,48230.0,EUR,48230.0,Closed Won,Prod_Category_A_None
2,27446,Americas,NW America,0,0,0,0,0,Bureaucratic_Code_4,4/21/2015,...,Q1,2016,NaT,0,USD,83865.6,USD,83865.6,Closed Won,Prod_Category_A_None
3,16808,Americas,NW America,1,0,1,0,0,Bureaucratic_Code_5,7/27/2013,...,Q1,2018,NaT,14,USD,7421881.5,USD,7421881.5,Closed Lost,Prod_Category_A_None
4,16805,Americas,NW America,1,0,1,0,0,Bureaucratic_Code_5,7/27/2013,...,Q1,2018,NaT,25,USD,13357192.5,USD,13357192.5,Closed Lost,Prod_Category_A_None

In [50]:
Entrenamiento['Total_Amount_Currency'].value_counts()

USD    7361
JPY    4522
EUR    4503
AUD     556
GBP       5
Name: Total_Amount_Currency, dtype: int64

In [51]:
Entrenamiento.loc[Entrenamiento['Total_Amount_Currency'] == 'JPY', 'Total_Amount'] = Entrenamiento['Total_Amount']*0.0096
Entrenamiento.loc[Entrenamiento['Total_Amount_Currency'] == 'JPY', 'Total_Amount_Currency'] = 'USD'

transformo los el Total_Amount calculados en JPY a USD

In [52]:
Entrenamiento.loc[Entrenamiento['Total_Amount_Currency'] == 'EUR', 'Total_Amount'] = Entrenamiento['Total_Amount']*1.17
Entrenamiento.loc[Entrenamiento['Total_Amount_Currency'] == 'EUR', 'Total_Amount_Currency'] = 'USD'

transformo los el Total_Amount calculados en EUR a USD

In [53]:
Entrenamiento.loc[Entrenamiento['Total_Amount_Currency'] == 'AUD', 'Total_Amount'] = Entrenamiento['Total_Amount']*0.70
Entrenamiento.loc[Entrenamiento['Total_Amount_Currency'] == 'AUD', 'Total_Amount_Currency'] = 'USD'

transformo los el Total_Amount calculados en AUD a USD

In [54]:
Entrenamiento.loc[Entrenamiento['Total_Amount_Currency'] == 'GBP', 'Total_Amount'] = Entrenamiento['Total_Amount']*1.29
Entrenamiento.loc[Entrenamiento['Total_Amount_Currency'] == 'GBP', 'Total_Amount_Currency'] = 'USD'

transformo los el Total_Amount calculados en GBP a USD

In [55]:
Entrenamiento['Total_Amount_Currency'].value_counts()

USD    16947
Name: Total_Amount_Currency, dtype: int64

In [56]:
Entrenamiento['Total_Taxable_Amount_Currency'].value_counts()

USD    7347
JPY    4525
EUR    4518
AUD     553
GBP       4
Name: Total_Taxable_Amount_Currency, dtype: int64

In [57]:
Entrenamiento.loc[Entrenamiento['Total_Taxable_Amount_Currency'] == 'JPY', 'Total_Taxable_Amount'] = Entrenamiento['Total_Taxable_Amount']*0.0096
Entrenamiento.loc[Entrenamiento['Total_Taxable_Amount_Currency'] == 'JPY', 'Total_Taxable_Amount_Currency'] = 'USD'

Entrenamiento.loc[Entrenamiento['Total_Taxable_Amount_Currency'] == 'EUR', 'Total_Taxable_Amount'] = Entrenamiento['Total_Taxable_Amount']*1.17
Entrenamiento.loc[Entrenamiento['Total_Taxable_Amount_Currency'] == 'EUR', 'Total_Taxable_Amount_Currency'] = 'USD'

Entrenamiento.loc[Entrenamiento['Total_Taxable_Amount_Currency'] == 'AUD', 'Total_Taxable_Amount'] = Entrenamiento['Total_Taxable_Amount']*0.70
Entrenamiento.loc[Entrenamiento['Total_Taxable_Amount_Currency'] == 'AUD', 'Total_Taxable_Amount_Currency'] = 'USD'

Entrenamiento.loc[Entrenamiento['Total_Taxable_Amount_Currency'] == 'GBP', 'Total_Taxable_Amount'] = Entrenamiento['Total_Taxable_Amount']*1.29
Entrenamiento.loc[Entrenamiento['Total_Taxable_Amount_Currency'] == 'GBP', 'Total_Taxable_Amount_Currency'] = 'USD'

Ahora hago lo mismo con los taxable amounts

In [58]:
Entrenamiento['Total_Taxable_Amount_Currency'].value_counts()

USD    16947
Name: Total_Taxable_Amount_Currency, dtype: int64